@import url("https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Noto+Sans+Cherokee:wght@300;400;500;600&family=Poppins:wght@300;400;600;700&display=swap");
* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-align: center;
}

.container {
    width: 100vw;
    height: 100em;
}

header {
    background-color: red;
    width: 100vw;
    height: 5em;
    color: white;
    font-weight: 600;
    font-size: 40px;
    padding: 1%;
}