pedido {
    display: table-cell;
    width: 300px;    
    height: 220px;
}

cliente {
    display: block;
    border: black 1px solid;
}

articulos {
    display: block;
}

articulo {
    display: block;
    border: black 1px solid;
}