@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800;900&display=swap');
* {
    width: 100vw;
    height: 100vh;
    font-family: "Poppins",sans-serif;
}

pedido {
    display: table-cell;
    padding: 0;
    margin: 30%;
    width: 300px;    
    height: 220px;
}

[class=estilo]{
    display: block;
    border: black 3px solid;
    text-align: center;
    margin-bottom: 1%;
}
