* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body {
    perspective: 500px;
}

.movil {
    position: absolute;
    width: 50vw;
    height: 50vh;
    transform-origin: 50% 50%;
    transform-style: preserve-3d;
}

.cara_frente {
    position: absolute;
    width: 20vw;
    height: 50vh;
    transform-origin: 50% 50%;
    transform: translate3d(0,0, 10vw) rotate3d(0,0,0,0deg);
}
.cara_detras {
    position: absolute;
    width: 20vw;
    height: 50vh;
    transform-origin: 50% 50%;
    transform: translate3d(0,0, -10vw) rotate3d(0,0,0,0deg);
}
.cara_arriba{
    position: absolute;
    width: 20vw;
    height: 5vh;
    transform-origin: 50% 50%;
    transform: translate3d(0,-10vw,0) rotate3d(1,0,0,90deg);
}
.cara_abajo {
    position: absolute;
    width: 20vw;
    height: 5vh;
    transform-origin: 50% 50%;
    transform: translate3d(0,10vw,0) rotate3d(1,0,0,90deg);
}
.cara_derecha {
    position: absolute;
    width: 5vw;
    height: 50vh;
    transform-origin: 50% 50%;
    transform: translate3d(10vw,0,0) rotate3d(0,1,0,90deg);
}
.cara_izquierda {
    position: absolute;
    width: 5vw;
    height: 50vh;
    transform-origin: 50% 50%;
    transform: translate3d(-10vw,0,0) rotate3d(0,1,0,90deg);
}